@model IEnumerable<Inter_New_App_Joins.DbConnection.tbl_Teacher>

@{
    ViewBag.Title = "TeacherList";
}

<div class="text-center">
    <h2 class="text-danger">List of Teachers</h2>
</div>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Teacher_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Teacher_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Teacher_Id })
        </td>*@
    </tr>
}

</table>


@{Html.RenderAction("TeacherSalary"); }
